<a href="https://colab.research.google.com/github/edersonrpd/UsuariosSap/blob/main/SAP_Licencas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime
import matplotlib

In [ ]:
licenca_sp_df = pd.read_excel('/content/drive/MyDrive/SAP/Administração de licenças_sp.xlsx')
log_acesso_sp_df = pd.read_excel('/content/drive/MyDrive/SAP/Log de acesso_sp.xlsx')

In [ ]:
condicao = [
    (licenca_sp_df['Profissional'] == '✔'),
    (licenca_sp_df['Limited Logistics'] == '✔'),
    (licenca_sp_df['Indirect Access'] == '✔'),
    ((licenca_sp_df['Profissional'] != '') & (licenca_sp_df['Limited Logistics'] != '') & (licenca_sp_df['Indirect Access'] != ''))
  
   ]

valores = ['Profissional', 'Limited Logistics', 'Indirect Access', 'Sem Licença']

licenca_sp_df['Licença'] = np.select(condicao, valores)

In [ ]:
sp_df = pd.merge(licenca_sp_df, log_acesso_sp_df[['Código do usuário','Nome do usuário', 'Super-usuário', 'Último logon']], on='Código do usuário', how='left')
sp_df = sp_df[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário', 'Último logon']]
sp_df.rename(columns={'Último logon' : 'Último logon SP'}, inplace=True)

In [ ]:
sp_df

,Código do usuário,Nome do usuário,Licença,Super-usuário,Último logon SP
0,A_PED_TRANS,Alerta Pedidos Transmitidos,Sem Licença,Não,NaN
1,ABARCELOS,ANA PAULA BARCELOS MUNIZ,Sem Licença,Não,11/07/2022 09:12:04
2,ABNER.TI,ABNER.TI,Sem Licença,Sim,19/03/2021 11:14:05
3,ADEILDO,ADEILDO JONADAB RIBEIRO MACHADO,Sem Licença,Não,06/06/2019 18:37:06
4,ADRIANAG,ADRIANA GARCIA NEVES,Sem Licença,Não,07/08/2019 15:26:40
...,...,...,...,...,...
401,YASMIN.RIBEIRO,Yasmin Maria Alves Ribeiro,Profissional,Não,26/05/2023 11:44:28
402,YASMIN.SOARES,YASMIN MARTINELI SOARES,Profissional,Não,01/06/2023 14:17:52
403,YSABELLE,YSABELLE OLIVEIRA,Profissional,Não,01/06/2023 09:37:14
404,YURI,YURI SILVA FERREIRA,Sem Licença,Não,01/07/2022 08:00:50
405,ZILDA,ZILDA MENDES SILVA,Limited Logistics,Não,02/06/2023 10:49:21

#GO

In [ ]:
licenca_go_df = pd.read_excel('/content/drive/MyDrive/SAP/Administração de licenças_go.xlsx')
log_acesso_go = pd.read_excel('/content/drive/MyDrive/SAP/Log de acesso_go.xlsx')
licenca_go_df = licenca_go_df[['Código do usuário',	'Profissional',	'Limited Logistics',	'Indirect Access']]
condicao = [
    (licenca_go_df['Profissional'] == '✔'),
    (licenca_go_df['Limited Logistics'] == '✔'),
    (licenca_go_df['Indirect Access'] == '✔'),
    ((licenca_go_df['Profissional'] != '') & (licenca_go_df['Limited Logistics'] != '') & (licenca_go_df['Indirect Access'] != ''))
]

valores = ['Profissional', 'Limited Logistics', 'Indirect Access', 'Sem Licença']

licenca_go_df['Licença'] = np.select(condicao, valores)

go_df = pd.merge(licenca_go_df, log_acesso_go[['Código do usuário','Nome do usuário', 'Super-usuário', 'Último logon']], on='Código do usuário', how='left')
go_df = go_df[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário', 'Último logon']]
go_df.rename(columns={'Último logon' : 'Último logon GO'}, inplace=True)

In [ ]:
go_df

#MT

In [ ]:
licenca_mt_df = pd.read_excel('/content/drive/MyDrive/SAP/Administração de licenças_mt.xlsx')
log_acesso_mt_df = pd.read_excel('/content/drive/MyDrive/SAP/Log de acesso_mt.xlsx')

condicao = [
    (licenca_mt_df['Profissional'] == '✔'),
    (licenca_mt_df['Limited Logistics'] == '✔'),
    (licenca_mt_df['Indirect Access'] == '✔'),
    ((licenca_mt_df['Profissional'] != '') & (licenca_mt_df['Limited Logistics'] != '') & (licenca_mt_df['Indirect Access'] != ''))
  
   ]

valores = ['Profissional', 'Limited Logistics', 'Indirect Access', 'Sem Licença']

licenca_mt_df['Licença'] = np.select(condicao, valores)

mt_df = pd.merge(licenca_mt_df, log_acesso_mt_df[['Código do usuário','Nome do usuário', 'Super-usuário', 'Último logon']], on='Código do usuário', how='left')
mt_df = mt_df[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário', 'Último logon']]
mt_df.rename(columns={'Último logon' : 'Último logon MT'}, inplace=True)

In [ ]:
mt_df

,Código do usuário,Nome do usuário,Licença,Super-usuário,Último logon MT
0,ABARCELOS,ANA PAULA BARCELOS MUNIZ,Sem Licença,Não,09/11/2020 08:07:52
1,ABNER.TI,ABNER.TI,Sem Licença,Sim,08/03/2021 08:49:30
2,ADEILDO,ADEILDO JONADAB RIBEIRO MACHADO,Sem Licença,Não,NaN
3,ADRIANAG,ADRIANA GARCIA NEVES,Sem Licença,Não,NaN
4,ADRIELE.OLIVEIRA,ADRIELE GISENE DOS SANTOS OLIVEIRA,Profissional,Não,02/06/2023 08:11:34
...,...,...,...,...,...
395,YASMIN.RIBEIRO,Yasmin Maria Alves Ribeiro,Profissional,Não,26/05/2023 15:04:29
396,YASMIN.SOARES,YASMIN MARTINELI SOARES,Profissional,Não,01/06/2023 14:19:20
397,YSABELLE,YSABELLE OLIVEIRA,Profissional,Não,01/06/2023 13:22:28
398,YURI,YURI SILVA FERREIRA,Sem Licença,Não,01/07/2022 08:01:01
399,ZILDA,ZILDA MENDES SILVA,Limited Logistics,Não,25/11/2021 17:30:29

#RJ

In [ ]:
licenca_rj_df = pd.read_excel('/content/drive/MyDrive/SAP/Administração de licenças_rj.xlsx')
log_acesso_rj_df = pd.read_excel('/content/drive/MyDrive/SAP/Log de acesso_rj.xlsx')

condicao = [
    (licenca_rj_df['Profissional'] == '✔'),
    (licenca_rj_df['Limited Logistics'] == '✔'),
    (licenca_rj_df['Indirect Access'] == '✔'),
    ((licenca_rj_df['Profissional'] != '') & (licenca_rj_df['Limited Logistics'] != '') & (licenca_rj_df['Indirect Access'] != ''))
  
   ]

valores = ['Profissional', 'Limited Logistics', 'Indirect Access', 'Sem Licença']

licenca_rj_df['Licença'] = np.select(condicao, valores)

rj_df = pd.merge(licenca_rj_df, log_acesso_rj_df[['Código do usuário','Nome do usuário', 'Super-usuário', 'Último logon']], on='Código do usuário', how='left')
rj_df = rj_df[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário', 'Último logon']]
rj_df.rename(columns={'Último logon' : 'Último logon RJ'}, inplace=True)



---

#Combinando tabelas

In [ ]:
usuario_sp = sp_df[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário']]
usuario_go = go_df[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário']]
usuario_mt = mt_df[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário']]
usuario_rj = rj_df[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário']]

usuarios = pd.concat([usuario_sp, usuario_go, usuario_mt, usuario_rj])
usuarios = usuarios.drop_duplicates()
usuarios = pd.merge(usuarios, sp_df[['Código do usuário', 'Último logon SP']], on=['Código do usuário'], how='left' )
usuarios = pd.merge(usuarios, go_df[['Código do usuário', 'Último logon GO']], on=['Código do usuário'], how='left' )
usuarios = pd.merge(usuarios, mt_df[['Código do usuário', 'Último logon MT']], on=['Código do usuário'], how='left' )
usuarios = pd.merge(usuarios, rj_df[['Código do usuário', 'Último logon RJ']], on=['Código do usuário'], how='left' )

In [ ]:
usuarios[['Último logon SP', 'Último logon GO', 'Último logon MT', 'Último logon RJ']] = usuarios[['Último logon SP', 'Último logon GO', 'Último logon MT', 'Último logon RJ']].fillna('01/01/1900 00:00:01')
usuarios

,Código do usuário,Nome do usuário,Licença,Super-usuário,Último logon SP,Último logon GO,Último logon MT,Último logon RJ
0,A_PED_TRANS,Alerta Pedidos Transmitidos,Sem Licença,Não,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01
1,ABARCELOS,ANA PAULA BARCELOS MUNIZ,Sem Licença,Não,11/07/2022 09:12:04,01/01/1900 00:00:01,09/11/2020 08:07:52,29/09/2020 08:27:43
2,ABNER.TI,ABNER.TI,Sem Licença,Sim,19/03/2021 11:14:05,26/04/2021 11:01:56,08/03/2021 08:49:30,17/03/2021 10:13:10
3,ADEILDO,ADEILDO JONADAB RIBEIRO MACHADO,Sem Licença,Não,06/06/2019 18:37:06,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01
4,ADRIANAG,ADRIANA GARCIA NEVES,Sem Licença,Não,07/08/2019 15:26:40,29/12/2018 16:50:58,01/01/1900 00:00:01,01/01/1900 00:00:01
...,...,...,...,...,...,...,...,...
650,SONIA,CONF 1050,Indirect Access,Não,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01,02/06/2023 11:47:20
651,SUELEN,SUELEN CORREA,Indirect Access,Não,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01,02/06/2023 11:52:17
652,THAISSA CRISTINA G SOUZA,THAISSA.SOUZA,Sem Licença,Não,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01
653,THAMIRIS.BRITO,THAMIRIS VIANA BATISTA BRITO,Profissional,Não,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01,02/06/2023 08:20:07
654,ZANONI,JONATHAN ZANONI,Sem Licença,Não,01/01/1900 00:00:01,01/01/1900 00:00:01,01/01/1900 00:00:01,01/02/2023 09:12:26

In [ ]:

colunas = ['Último logon SP','Último logon GO','Último logon MT', 'Último logon RJ']

for coluna in colunas:
  usuarios[coluna] = pd.to_datetime(usuarios[coluna], format='%d/%m/%Y %H:%M:%S')

In [ ]:
usuarios = usuarios.sort_values(by='Nome do usuário')

datatypes_per_column = {
    "Último logon SP" : "datetime64[ns]",
    "Último logon GO" : "datetime64[ns]",
    "Último logon MT" : "datetime64[ns]",
    "Último logon RJ" : "datetime64[ns]",
}
usuarios = usuarios.astype(datatypes_per_column)

In [ ]:
usuarios



```
# Isto está formatado como código
```

## Criando coluna com o ultimo logon

In [ ]:
def max_value(row):
  return max(row['Último logon SP'], row['Último logon GO'], row['Último logon MT'], row['Último logon RJ'])

usuarios['Último logon'] = usuarios.apply(max_value, axis=1)

In [ ]:
usuarios = usuarios[['Código do usuário', 'Nome do usuário', 'Licença', 'Super-usuário', 'Último logon',
       'Último logon SP', 'Último logon GO', 'Último logon MT',
       'Último logon RJ']]

usuarios = usuarios.drop_duplicates()

In [ ]:
columns_to_format = ['Último logon','Último logon SP', 'Último logon GO', 'Último logon MT', 'Último logon RJ']

for column in columns_to_format:
    usuarios[column] = usuarios[column].dt.strftime('%d/%m/%Y %H:%M:%S')

In [ ]:
usuarios = usuarios[usuarios['Licença'] != 'Sem Licença']
usuarios

,Código do usuário,Nome do usuário,Licença,Super-usuário,Último logon,Último logon SP,Último logon GO,Último logon MT,Último logon RJ
5,ADRIELE.OLIVEIRA,ADRIELE GISENE DOS SANTOS OLIVEIRA,Profissional,Não,02/06/2023 09:43:02,02/06/2023 07:06:01,02/06/2023 07:06:28,02/06/2023 08:11:34,02/06/2023 09:43:02
17,ALLAN,ALLAN CESAR,Profissional,Não,02/06/2023 08:19:06,01/06/2023 17:24:35,02/06/2023 08:19:06,22/05/2023 11:10:32,01/06/2023 15:14:33
555,ASILVA,ALLAN VICTOR ARAUJO DA SILVA,Profissional,Não,02/06/2023 11:22:27,01/01/1900 00:00:01,01/01/1900 00:00:01,02/06/2023 11:22:27,01/01/1900 00:00:01
18,AMANDA.GARCIA,AMANDA FERNANDES GARCIA DA SILVA,Profissional,Não,02/06/2023 14:00:26,02/06/2023 13:52:33,02/06/2023 13:43:41,02/06/2023 14:00:26,02/06/2023 13:53:32
19,AMANDA.TROVATO,AMANDA TROVATO,Profissional,Não,02/06/2023 08:40:01,02/06/2023 07:38:30,02/06/2023 07:39:14,02/06/2023 08:15:41,02/06/2023 08:40:01
...,...,...,...,...,...,...,...,...,...
403,YSABELLE,YSABELLE OLIVEIRA,Profissional,Não,01/06/2023 13:22:28,01/06/2023 09:37:14,30/05/2023 10:33:45,01/06/2023 13:22:28,29/05/2023 15:42:49
401,YASMIN.RIBEIRO,Yasmin Maria Alves Ribeiro,Profissional,Não,26/05/2023 15:04:29,26/05/2023 11:44:28,26/05/2023 07:28:39,26/05/2023 15:04:29,26/05/2023 13:20:53
405,ZILDA,ZILDA MENDES SILVA,Limited Logistics,Não,02/06/2023 10:49:21,02/06/2023 10:49:21,25/11/2021 17:30:30,25/11/2021 17:30:29,25/11/2021 17:30:28
245,manager,manager,Profissional,Sim,02/06/2023 14:11:01,02/06/2023 13:57:24,02/06/2023 14:05:25,02/06/2023 14:07:52,02/06/2023 14:11:01
339,sap,sap,Profissional,Sim,02/06/2023 09:56:13,02/06/2023 09:56:13,03/05/2023 09:34:43,03/05/2023 09:29:28,24/02/2023 14:25:11

In [ ]:
#style_usuarios = usuarios.copy()
#style_usuarios = style_usuarios.sort_values(by=['Último logon'], ascending=True)
#style_usuarios = style_usuarios.style.background_gradient(cmap='coolwarm', subset='Último logon')

#Salvando em Excel

In [ ]:
usuarios.to_excel('/content/drive/MyDrive/SAP/usuarios.xlsx', index=False, sheet_name='Usuarios SAP')

In [ ]:
usuarios.query('`Código do usuário` == "ALISILVA"')

In [ ]:
#print(df_1[(df_1 == df_2).all(axis=1) == False])

cd_sp = sp_df[['Código do usuário']]
cd_go = go_df[['Código do usuário']].reset_index(drop=True, inplace=True)
cd_mt = mt_df[['Código do usuário']]
cd_rj = rj_df[['Código do usuário']]

print(cd_sp[(cd_sp == cd_go).all(axis=1) ==  True])

## Quantidade de usuários por licença

In [ ]:
print('Usuarios com licença Professional -> ' + str(usuarios.query('Licença == "Profissional"').shape[0]) )
print('Usuarios com licença Logistic -> ' + str(usuarios.query('Licença == "Limited Logistics"').shape[0]) )
print('Usuarios com licença Indirect -> ' + str(usuarios.query('Licença == "Indirect Access"').shape[0]) )

In [ ]:
list(usuarios['Licença'].drop_duplicates())

In [ ]:
#list(usuario_sp['Código do usuário'].drop_duplicates())
print(usuario_sp.query('`Código do usuário` == "ZANONI"'))
print(usuario_go.query('`Código do usuário` == "ZANONI"'))
print(usuario_mt.query('`Código do usuário` == "ZANONI"'))
print("RJ " + usuario_rj.query('`Código do usuário` == "ZANONI"'))